# Load files

In [6]:
import pandas as pd
import glob

# Define the path to the CSV files
path = r'C:\Users\clint\Desktop\Coding Task Darthmouth\Red_Sox\Red_Sox'

# Use glob to get all the CSV files in the directory
all_files = glob.glob(path + "/*.csv")

# Combine all the CSV files into a single DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

df

,transaction_date,sectiontype,price_per_ticket,number_of_tickets,gamemonth,team,day_game,weekend_game,gamedate,logprice,days_from_transaction_until_game
0,2_1,RFGS,45.00,4,JUN,ATL,0.0,1.0,JUN 19,3.806663,142
1,2_1,LowerBleachers,53.00,4,JUN,ATL,0.0,1.0,JUN 20,3.970292,143
2,2_1,IFGS,84.99,4,JUN,ATL,0.0,1.0,JUN 19,4.442533,142
3,2_1,IFGS,151.00,2,JUN,ATL,0.0,1.0,JUN 19,5.017280,142
4,2_1,RFGS,45.74,4,JUN,ATL,1.0,1.0,JUN 21,3.822973,144
...,...,...,...,...,...,...,...,...,...,...,...
453166,6_8,RFFieldBox,54.94,3,JUN,WAS,0.0,1.0,JUN 8,4.006242,0
453167,6_10,IFGS,29.00,2,JUN,WAS,1.0,1.0,JUN 10,3.367296,0
453168,6_7,UpperBleachers,18.93,2,JUN,WAS,0.0,1.0,JUN 8,2.940748,1
453169,4_22,LogeBox,139.00,2,JUN,WAS,1.0,1.0,JUN 9,4.934474,49
453170,6_9,IFGS,90.00,3,JUN,WAS,1.0,1.0,JUN 10,4.499810,1

# Check if files were combined properly

In [7]:
# Iterate through all the CSV files and print their names and number of rows
for file in all_files:
    df_temp = pd.read_csv(file)
    print(f"File: {file}, Number of rows: {len(df_temp)}")
numbers = [105673, 118895, 152525, 76078]
total_sum = sum(numbers)
total_sum

File: C:\Users\clint\Desktop\Coding Task Darthmouth\Red_Sox\Red_Sox\red_sox_2009.csv, Number of rows: 105673
File: C:\Users\clint\Desktop\Coding Task Darthmouth\Red_Sox\Red_Sox\red_sox_2010.csv, Number of rows: 118895
File: C:\Users\clint\Desktop\Coding Task Darthmouth\Red_Sox\Red_Sox\red_sox_2011.csv, Number of rows: 152525
File: C:\Users\clint\Desktop\Coding Task Darthmouth\Red_Sox\Red_Sox\red_sox_2012.csv, Number of rows: 76078

453171

How do the prices consumers pay for tickets change as the game date approaches 
(i.e., as the number of days between transaction date and game date declines)?